html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.wrapper {
    overflow-x: hidden;
}

.bg-lightgray {
    background: #f6f6f6;
}

.bg-darkgray {
    background: #4a4a4a;
}

p {
    margin-top: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

section {
    float: left;
    width: 100%;
}

.Home__section-padding {
    padding: 50px 70px 50px 70px;
}

.Home__section-title {
    color: #4a4a4a;
    font-size: 2rem; /* 32px */
    font-weight: 700;
    line-height: 1.3;

    padding-bottom: 40px;
    margin-bottom: 30px;

    position: relative;
}

.Home__section-title.block-center {
    text-align: center;
}

.Home__section-title::after {
    background: #4a90e2;
    display: block;
    content: '';
    width: 130px;
    height: 4px;

    position: absolute;
    left: 0;
    bottom: 0;
}

.Home__section-title.block-center::after {
    left: calc(50% - 65px);
}

.Home__section-content {
    color: #4a4a4a;
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.6;
}

@media (max-width: 640px) {
    .Home__section-padding {
        padding: 50px 40px 50px 40px;
    }
}


/**
    DASHBOARD
 */
.dashboard-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

@media screen and (min-height: 1080px) {
    .dashboard-wrapper {
        min-height: calc(100vh - 443px);
    }
}

.dashboard-sidebar {
    position: absolute;
    top: 0;
    left: 0;

    width: 320px;
    height: 100%;
    z-index: 4;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    transition-duration: .2s, .2s, .35s;
    transition-property: top, bottom, width;
    transition-timing-function: linear, linear, ease;
}

.sidebar-bg {
    background: #4a4a4a;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: calc(100% - 320px);
    margin-left: 320px;
    padding: 30px 30px 60px 30px;
}